.footer {
  width: 100%;
  height: 200px;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loremn {
  
  color: white;
  text-align: center;
  font-size: 44px;
}
